@font-face {
  font-family: "Vazir";

  src: url("/assets/fonts/Vazir.ttf") format("truetype"),
    url("/assets/fonts/Vazir.woff") format("woff"),
    url("/assets/fonts/Vazir.woff2") format("woff2");
}

/* TAG SELECTORS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: #ffffff;
    color: #222;
    font-family: Vazir, Tahoma ,sans-serif;
    font-size: 16px;
    background: url(/assets/images/bg.jpg) #fff;
    background-size: 300px 300px;
   
  }
  
  a {
    text-decoration: none;
    color:#222;
  }

  .my-3{ margin: 1rem 0; }
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  a img.alignright {float:right; margin:0 0 1em 1em}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  
  .header {
    padding:1em 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    min-height: 70px;
  }
  
  .main-icon {
    width: 50px;
    height: 50px;
  }
  
  .main-heading {
    font-size: 18px;
    padding: .75em;
    border: 0;
    margin: 3em auto;
    font-weight: normal;
    text-align: right;
    color: #333;
    display: none;
  }
  
  .post{
    padding: 3.5em 0 2.5em;
    line-height: 1.6;
    border-bottom: 1px solid #eee;
  }
  .post-title {
    font-weight: 400;
}
  .post:last-child {
    border-bottom: 0;
  }
  
  .container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .post-info,
  .post-excerpt {
    padding: .75em 0;
    color: #333;
  }
  
  .post-excerpt {
    text-align: right;
  }
  
  .post-info {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
  }

  .post-info_item {
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .post-info span {
   margin-right: .25em;
  }
  
  .footer {
    width: 100%;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 3em;
  }
  
  .social-logo-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-logo-list li {
    list-style: none;
    margin: 0 5px;
  }
  
  .article {
    font-size: 16px;
    margin-top: 2em;
    line-height: 1.8;
    font-family: Vazir, Tahoma ,sans-serif;
    overflow: hidden;
    padding: 1em 0 4em;
  }
  
  .article p{
    margin: 1em auto;
    color: #333;
  }

  .article ul {
    padding: 0 1.5rem;
    margin: 15px 0;
  }

  .article li {
    margin: 7px 0;
    list-style-type: square;
  }
  
  pre {
    direction: ltr;
  }
  
  .article a {
    display: inline-block;
    color: rgb(211, 47, 74);
    border-bottom: 1px solid;
  }
  
  .full-width {
    width:100% !important;
    height:auto !important;
  }

  .i-calendar,
  .i-clock {
    width: 16px;
    height: 16px;
  }

  .i-github,
  .i-codepen{
    width: 24px;
    height: 24px;
  }

  .i-twitter {
    width: 28px;
    height: 28px;
  }

  .home-link {
    display: flex;
    flex-direction: column;
    max-width: 77px;
    align-items: center;
    font-size: 12px;
  }