
/* TAG SELECTORS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: #ffffff;
    color: #222;
    font-family: Tahoma, Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
   
  }
  
  li {
    list-style: none;
    display: inline-block;
    padding-right: .25em;
  }
  
  a {
    text-decoration: none;
    color:#222;
  }

  .my-3{ margin: 1rem 0; }
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  a img.alignright {float:right; margin:0 0 1em 1em}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  
  .header {
    padding:1em .5em;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    text-align: center;
    min-height: 70px;
  }
  
  .main-icon {
    width: 50px;
    height: 50px;
  }
  
  .main-heading {
    font-size: 16px;
    color: white;
    padding: .75em;
    border: 0;
    display: table;
    margin: 3em auto;
    background: rgb(108, 196, 187);
    font-weight: bold;
    vertical-align: center;
    display: none;
  }
  
  .post{
    padding: 3.5em 0 2.5em;
    line-height: 1.6;
    border-bottom: 1px solid #eee;
  }
  
  .post:last-child {
    border-bottom: 0;
  }
  
  .container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .post-info,
  .post-excerpt {
    padding: .75em 0;
    color: #333;
  }
  
  .post-excerpt {
    text-align: right;
  }
  
  .post-info {
    font-size: 14px;
  }
  
  .post-info span {
   margin-right: .25em;
  }
  
  .footer {
    width: 100%;
    border-top: 1px solid #eee;
    text-align: center;
    padding: 3em;
  }
  
  .social-icon {
    font-size: 28px;
    color: rgb(108, 196, 187);
  }
  
  .article {
    font-size: 16px;
    margin-top: 2em;
    line-height: 1.8;
    font-family:Tahoma, Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    padding: 1em 0 4em;
  }
  
  .article p{
    margin: 1em auto;
    color: #333;
  }
  
  pre {
    direction: ltr;
  }
  
  .article a {
    display: inline-block;
    color: rgb(211, 47, 74);
    border-bottom: 1px solid;
  }
  
  .full-width {
    width:100% !important;
    height:auto !important;
  }