<!doctype html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/assets/images/myicon.png" title="Favicon" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href={{ "/assets/css/prism.css" | absolute_url }}>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" 
    integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" 
    crossorigin="anonymous"></script>
    {% seo %}
  </head>
  <body>
      {% include header.html %}
    <div class="container">
    {{ content }}
    </div>
    <script src={{ "/assets/js/prism.js" | absolute_url }}></script>
  </body>
</html>